body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  margin: 0px;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.header-cite {
  background-color: rgb(238, 238, 238);
  min-height: 355px;
}
.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.menu-block img {
  margin: 49px 202px 10px 0px;
}
.menu-block img:hover {
  opacity: 0.8;
}
.menu-block img:focus,
.menu-block img:active {
  opacity: 0.3;
}

.active a{
  border-bottom: 2px solid rgb(251, 86, 90);
  padding-bottom: 9px;
}
.menu-block ul {
  list-style: none;
  padding: 0px;
  margin: 76px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu-block a{
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
}
.menu-block a:hover {
  color: rgb(251, 86, 90);
}
.menu-block a:focus,
.menu-block a:active {
  color: rgba(0, 0, 0, 0.3);
  padding-bottom: 9px;
}
.main-menu {
  width: 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main-menu li {
  margin-right: 46px;
}
.main-basket {
  width: 253px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.main-basket li::after {
  content: "";
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 8px;
  right: 100px;
  width: 15px;
  height: 15px;
}
.main-basket a {
  padding-left: 10px;
}
.market-shablons {
  text-align: center;
  line-height: 1;
  font-weight: 500;
  font-size: 55px;
  text-transform: none;
  margin: 67px 0px 10px 0px;
}

 /* slades */


.slide {
  position: relative;
  background-color: rgb(238, 238, 238);
  width: 1160px;
  min-height: 405px;
  margin-left: auto;
  margin-right: auto;
}

.slide-bar label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
}

.slide-bar label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
}

.slide-bar {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide-list {
  margin: 0;
  padding: 0;
  margin-top: -10px;
  list-style: none;
}

.slide-item {
  display: none;
  padding: 78px 0 81px 0;
}

#iphone-slide:checked ~ .slide-list .slide-item:nth-child(1) {
  display: block;
}

#monitor-slide:checked ~ .slide-list .slide-item:nth-child(2) {
  display: block;
}

#gadgets-slide:checked ~ .slide-list .slide-item:nth-child(3) {
  display: block;
}

#iphone-slide:checked ~ .slide-bar .slide-bar-iphone::before,
#monitor-slide:checked ~ .slide-bar .slide-bar-monitor::before,
#gadgets-slide:checked ~ .slide-bar .slide-bar-gadgets::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 6px;
  height: 6px;
  margin: -5px;
  background-color: inherit;
  border: 2px solid rgb(193, 193, 193);
  border-radius: 50%;
}

.slide-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 432px 18px;
}

.slide-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 496px 2px;
}

.slide-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 402px 21px;
}

.slide-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 29px;
  font-size: 55px;
  line-height: 1;
  font-weight: 500;
}

.slide-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 37px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-transform: initial;
  color: rgb(40, 49, 54);
}
.slide-item a {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: rgb(255, 255, 255);
  padding: 16px 0px;
  width: 240px;
  border-radius: 3px;
  background-color: rgb(251, 86, 90);
  display: block;
  text-align: center;
}
.slide-item a:hover {
  background-color: rgb(231, 66, 70);
}
.slide-item a:focus,
.slide-item a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgb(215, 55, 59);
}
 /* close header */

 /* main */

 .block-services {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   width: 1160px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 80px;
 }
 .services-sait img {
   background-color: rgb(251, 86, 90);
 }
 .services-application img {
   background-color: rgb(1, 202, 116);
 }
 .services-presentation img {
   background-color: rgb(240, 200, 73);
 }
 .block-services section:not(:nth-of-type(3n+1)) {
   margin-left: 100px;
 }
 .block-services section {
   margin-bottom: 72px;
 }
 .block-services h3 {
   font-size: 24px;
   line-height: 1.25;
   text-align: left;
   text-transform: uppercase;
   margin: 17px 0px 0px 0px;
 }
 .block-services p {
   color: rgb(40, 49, 54);
   font-size: 16px;
   line-height: 1.5;
   width: 280px;
   margin: 16px 0px 0px 0px;
 }
 .btn-services {
   margin-top: 32px;
   padding: 17px 39px 15px 40px;
   color: rgb(255, 255, 255);
   font-size: 16px;
   font-weight: 500;
   line-height: 1.13;
   border: 0px;
 }
 .btn-services-sait {
   background-color: rgb(251, 86, 90);
 }
 .btn-services-application {
   background-color: rgb(0, 202, 116);
 }
 .btn-services-presentation {
   background-color: rgb(239, 200, 74);
 }
 .btn-services-sait:hover,
 .btn-services-sait:focus {
   background-color: rgb(231, 66, 70);
 }
 .btn-services-sait:active {
   background: rgb(215, 55, 59);
   -webkit-box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
           box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
   color: rgba(255, 255, 255, 0.3);
 }
 .btn-services-application:hover,
 .btn-services-application:focus {
   background-color: rgb(0, 188, 108);
 }
 .btn-services-application:active {
   background: rgb(0, 170, 98);
   -webkit-box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
           box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
   color: rgba(255, 255, 255, 0.3);
 }
 .btn-services-presentation:hover,
 .btn-services-presentation:focus {
   background-color: rgb(234, 181, 52);
 }
 .btn-services-presentation:active {
   background: rgb(229, 167, 34);
   -webkit-box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
           box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
   color: rgba(255, 255, 255, 0.3);
 }
 .block-services hr {
   width: 1160px;
   size: 2px;
   color: rgb(238, 238, 238);
 }
 .our-qualities {
   width: 1160px;
   margin-left: auto;
   margin-right: auto;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   margin-bottom: 55px;
 }
 .task-list {
   width: 650px;
   margin-top: 35px;
 }
 .task-list h2 {
   font-size: 45px;
   line-height: 1;
   font-weight: 500;
   margin: 30px 0px 10px 0px;
 }
 .task-list p {
   font-size: 16px;
   line-height: 1.5;
   color: rgb(40, 49, 54);
   margin: 35px 0px 0px 0px;
   width: 617px;
 }
 .task-list h3 {
   font-size: 16px;
   line-height: 1.5;
   text-transform: uppercase;
   margin-top: 36px;
 }
 .task-list ol {
   list-style: none;
   font-size: 16px;
   line-height: 1.5;
   color: rgb(40, 49, 54);
   padding-left: 36px;
 }
 .task-list li {
   position: relative;
   margin: 25px 0px 15px 0px;;
 }
 .task-list li::before {
   content: "";
   position: absolute;
   width: 25px;
   height: 2px;
   background-color: rgb(251, 86, 90);
   top: 11px;
   left: -35px;
 }
 .feature {
   width: 360px;
   margin-top: 32px;
 }
 .feature p {
   text-align: center;
   text-transform: uppercase;
   font-weight: 700;
   margin: 28px 0px 0px 0px;
 }
 .feature ul {
   list-style: none;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   padding: 0px;
 }
 .feature-percent {
   font-size: 45px;
   line-height: 0.22;
   font-weight: 700;
   margin: 58px 0px 0px 0px;
 }
 .feature-percent li {
   position: relative;
   margin-right: 40px;
 }
 .feature-percent span {
   font-family: Helvetica;
   font-size: 26px;
   letter-spacing: 0;
   line-height: 10px;
   position: absolute;
   top: -9px;
 }
 .feature-text {
   line-height: 1.13;
   color: rgb(40, 49, 54);
   margin: 36px 0px 0px 0px;
 }
 .feature-text li {
   margin-right: 25px;
 }
 .block-logo {
   width: 1160px;
   margin-left: auto;
   margin-right: auto;
 }
 .block-logo hr {
   width: 1160px;
   size: 2px;
   color: rgb(238, 238, 238);
   margin: 0px;
 }
 .logos-works {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
   min-height: 180px;
   margin-top: 0px;
   margin-bottom: 0px;
 }
 .logos-works li {
   position: relative;
   list-style: none;
   min-height: 90px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -ms-flex-pack: distribute;
       justify-content: space-around;
 }
 .logos-works li:NOT(:NTH-CHILD(4N))::after {
   content: "";
   position: absolute;
   width: 2px;
   height: 52px;
   border-right: 2px solid rgb(238, 238, 238);
   position: absolute;
   top: 15px;
   right: -52px;
 }
 .logos-works li:NOT(:NTH-CHILD(4N+1)) {
   margin-left: 96px;
 }
 .logos-works img {
  opacity: 0.2;
 }
 .logos-works img:hover,
 .logos-works img:focus {
   opacity: 1;
 }
 .logos-works img:active {
   opacity: 0.1;
 }
 .logo-html {
   margin: 8px 0px 0px -7px;
 }
 .logo-borodinski {
   margin-right: 7px;
 }
 .logo-pink {
   margin-right: 25px;
 }
 .logo-mishka {
   margin-top: 5px;
 }


/* main catalog */
.block-main {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.sort-price {
  margin: 46px 0px 0px 0px;
}
.block-sort-price {
  width: 242px;
  height: 81px;
  background-color: rgb(238, 238, 238);
  position: relative;
  padding-left: 19px;
  border-radius: 3px;
  margin-top: 48px;
}
.scale {
  width: 219px;
  height: 2px;
  background-color: rgb(215, 220, 222);
  position: absolute;
  top: 39px;
}
.bar {
  width: 152px;
  height: 2px;
  background-color: rgb(0, 202, 116);
  position: absolute;
  top: 39px;
  left: 21px;
}
.range-controls p {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 700;
  margin: 0px;
}
.range-controls label {
  line-height: 1.25;
  color: rgb(40, 49, 54);
  font-size: 16px;
}
.range-toggle {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  border: 9px solid rgb(255, 255, 255);
  position: absolute;
  top: 29px;
  background-color: rgb(171, 171, 171);
  cursor: pointer;
}
.block-sort-price .range-toggle:last-child {
  top: 29px;
  right: 80px;
}
.price-min-max {
  margin-top: 12px;
}
.max-price {
  margin-left: 25px;
}
.min-price input[type="text"],
.max-price input[type="text"] {
  font-size: 16px;
  line-height: 1.38;
  color: rgb(40, 49, 54);
  width: 80px;
  height: 36px;
  background-color: rgb(238, 238, 238);
  border: 0px;
  margin-left: 12px;
  text-align: center;
  border-radius: 3px;
}
.grid {
  margin: 55px 0px 0px 0px;
}
.grid-block {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.features-block p {
  margin: 0px;
}
.features-block {
  width: 180px;
  padding: 7px 0px 4px 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.grid-radio {
  position: relative;
  padding: 16px 0px 4px 36px;
  cursor: pointer;
}
.grid-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 13px;
  left: 1px;

  width: 17px;
  height: 17px;

  border: 4px solid rgb(77, 77, 77);
  border-radius: 50px;
  opacity: 0.4;
}
.grid-radio input[type="radio"]:hover + .radio-indicator,
.grid-radio input[type="radio"]:focus + .radio-indicator {
  opacity: 1;
}
.grid-radio input[type="radio"]:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 9px;
  height: 9px;
  border-radius: 50px;
  background-color: rgb(77, 77, 77);
}
.features {
  width: 150px;
  margin-top: 41px;
}
.features-checkbox {
  position: relative;
  padding: 9px 0px 11px 35px;
  cursor: pointer;
}
.features-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 7px;
  left: 0px;

  width: 19px;
  height: 19px;

  border: 2px solid rgb(77, 77, 77);
  border-radius: 3px;
  opacity: 0.4;
}
.features-checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.features-checkbox input[type="checkbox"]:focus + .checkbox-indicator,
.features-checkbox input[type="checkbox"]:checked:hover + .checkbox-indicator,
.features-checkbox input[type="checkbox"]:checked:focus + .checkbox-indicator {
  opacity: 1;
}
.features-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
 background-image: url("../img/checkbox-on.svg");
 width: 27px;
 height: 23px;
 border: 0px;
 opacity: 0.4;
}
.btn-price {
  font-weight: 500;
  line-height: 1.13;
  color: rgb(0, 0, 0);
  margin-top: 34px;
  padding: 16px 88px 16px 89px;
  border: 0px;
  background-color: rgb(238, 238, 238);
}
.btn-price:hover,
.btn-price:focus,
.right-block-bot li:hover,
.right-block-bot li:focus {
  background-color: rgb(223, 223, 223);
}
.btn-price:active,
.right-block-bot li:active {
  background: rgb(213, 213, 213);
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
          box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
  color: rgba(0, 0, 0, 0.3);
}
.right-block-top {
  width: 899px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sort {
  height: 40px;
  margin: 31px 0px 52px 0px;
}
.sort-by {
  height: 40px;
  width: 640px;
  margin-top: 31px;
}
.sort p {
  margin-left: 138px;
  font-size: 18px;
  line-height: 1;
  font-weight: 700;
}
.sort-by ul{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.sort-by li:not(:last-child){
  padding-left: 28px;
}
.sort-by li:last-child {
  padding-left: 18px;
}
.sort-by a {
  font-size: 14px;
  line-height: 1.29;
  opacity: 0.3;
  color: rgb(0, 0, 0);
}
.sort-by a:hover,
.sort-by a:focus {
  opacity: 0.6;
  color: rgb(0, 0, 0);
}
.sort-by a:active {
  color: rgb(0, 0, 0);
  opacity: 1;
}
.sort-active a{
  opacity: 1;
  margin-left: 20px;
}

/* style item card */
.card-menu {
  width: 899px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.item-card {
  width: 360px;
  height: 616px;
  background-color: rgb(233, 233, 233);
  border-radius: 3px 3px 0px 0px;
  position: relative;
  margin: 0px 0px 44px 40px;
}
.item-card:hover .footer-item-card,
.item-card:active .footer-item-card {
  display: block;
  border: 1px solid rgba(77,77,77,0.10);
  -webkit-box-shadow: 0 6px 15px 0 rgba(0,1,1,0.25);
          box-shadow: 0 6px 15px 0 rgba(0,1,1,0.25);
}
.item-card:hover ,
.item-card:active {
  background-color: rgb(77, 77, 77);
}
.header-item-card-active {
  background-color: rgb(77, 77, 77);
  border-radius: 3px 3px 0px 0px;
}
.header-item-card-active,
.header-item-card {
  position: relative;
  height: 40px;
}
.toggle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 13px;
  left: 16px;
}
.toggle:nth-of-type(2) {
  margin-left: 23px;
}
.toggle:nth-of-type(3) {
  margin-left: 46px;
}
.footer-item-card-active,
.footer-item-card {
  position: absolute;
  bottom: 0px;
  width: 360px;
  min-height: 231px;
  background-color: rgb(238, 238, 238);
  text-align: center;
}
.footer-item-card {
  display: none;
}
.footer-item-card-active a,
.footer-item-card a {
  font-size: 18px;
  line-height: 1.67;
  margin-top: 27px;
  margin-bottom: 10px;
}
.footer-item-card-active p,
.footer-item-card p {
  color: rgb(102, 102, 102);
  line-height: 1.13;
  margin-top: 15px;
}
.sedona {
  padding: 0px 91px 0px 92px;
}
.pink-app {
  padding: 0px 66px 0px 67px;
}
.barbershop {
  padding: 0px 95px 0px 94px;
}
.mishka {
  padding: 0px 110px 0px 112px;
}
.a-plus {
  padding: 0px 73px 0px 73px;
}
.cvast {
  padding: 0px 76px 0px 75px;
}
.btn-card {
  background-color: rgb(251, 86, 90);
  padding: 16px 61px;
  line-height: 1.13;
  color: rgb(255, 255, 255);
  border: 0px;
  margin-top: 13px;
  border-radius: 3px;
}
.btn-card:hover,
.btn-card:focus {
  background-color: rgb(231, 66, 70);
}
.btn-card:active {
  background-color: rgb(215, 55, 59);
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
          box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
}
.footer-item-card-active a:link,
.footer-item-card a:link {
  color: rgb(0, 0, 0);
}
.footer-item-card-active a:visited,
.footer-item-card a:visited {
  color: rgb(0, 0, 0);
}
.footer-item-card-active a:hover,
.footer-item-card-active a:focus,
.footer-item-card a:hover,
.footer-item-card a:focus {
  color: rgb(251, 86, 90);
}
.footer-item-card-active a:active,
.footer-item-card a:active {
  color: rgba(0, 0, 0, 0.3);
}
/* number */

.right-block-bot ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 16px 0px 0px 89px;
}
.right-block-bot li {
  width: 50px;
  height: 50px;
  background-color: rgb(238, 238, 238);
  margin-left: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.right-block-bot li:last-child {
  width: 260px;
  height: 50px;
}
.right-block-bot a {
  color: rgb(0, 0, 0);
  line-height: 1.13;
  font-weight: 500;
}
.right-block-bot a:active {
  color: rgba(0, 0, 0, 0.3);
}


 /* footer */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.maps-footer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 60px;
}
.maps-footer img:not(.marker-adress) {
  background-color: rgb(233, 229, 220)
}
.adress-maps {
  width: 319px;
  height: 308px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 54px;
  left: 140px;
}
.adress-maps h3 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.67;
  margin: 50px 0px 23px 50px;
}
.adress-maps p {
  width: 201px;
  line-height: 1.13;
  color: rgb(102, 102, 102);
  margin: 0px 0px 20px 50px;
}
.adress-maps a {
  margin: 16px 0px 0px 50px;
}
.maps-footer img:last-child{
  position: absolute;
  top: 89px;
  left: 820px;
}
.block-footer {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social {
  margin-top: 62px;
  margin-bottom: 77px;
}
.social ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 262px;
}
.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  background-color: rgb(225, 225, 225);
}
.social-btn:hover,
.social-btn:focus {
  border-radius: 50%;
  background-color: rgb(231, 66, 70);
}
.social-btn:active {
  background-color: rgb(215, 55, 59);
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
          box-shadow: inset 0 3px 0 0 rgba(0,1,1,0.10);
  border-radius: 50%;
}
.social-btn:active path {
  fill: rgb(227, 115, 118);
}
.friend {
  margin-left: 139px;
  margin-top: 68px;
  margin-bottom: 77px;
}
.friend b {
  font-size: 36px;
  line-height: 1;
}
.friend p {
  line-height: 1.38;
  color: rgb(68, 68, 68);
  margin-top: 7px;
}



/* form */
.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: rgba(238, 238, 238, 0.8);
  opacity: 0;
  pointer-events: none;
}
.modal:target {
  opacity: 1;
  pointer-events: auto;
}
.write-to-us {
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 50%;
  left: 50%;
  width: 960px;
  margin-top: -300px;
  margin-left: -480px;
  padding: 30px 100px 80px;
}
.write-to-us-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.write-to-us-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
  margin-top: 0;
}
.write-to-us .message-zona {
  width: 100%;
}
.write-to-us h2 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: rgb(0, 0, 0);
  margin-bottom: 40px;
}
.write-to-us label {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.write-to-us input {
  width: 334px;
  padding: 13px;
}
.write-to-us input,
.write-to-us textarea {
  line-height: 1.13;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.5;
  color: rgb(68, 68, 68);
  border: 2px solid rgb(215, 220, 222);
  outline: none;
}
.message-zona {
  padding-top: 34px;
}
.message-zona textarea {
  padding: 12px;
}
.write-to-us input:focus,
.write-to-us textarea:focus {
  border-color: rgb(0, 0, 0);
}
.write-to-us input:hover,
.write-to-us textarea:hover {
  border-color: rgb(180, 185, 187);
}
.write-to-us input:invalid {
  border-color: rgb(231, 66, 70);
}
.write-to-us .button {
  margin-top: 47px;
  padding-right: 85px;
  padding-left: 85px;
  cursor: pointer;
}
.exit {
  position: absolute;
  top:75px;
  right: 88px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  opacity: 0.3;
  border: none;
  background: 0 0 url("../img/close-cross.svg") no-repeat;
}
.exit:hover,
.exit:focus {
  opacity: 1;
}
.exit:active {
  opacity: 0.1;
}
.button {
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  padding: 16px 40px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  background-color: rgb(251, 86, 90);
}
.button:active {
  color: rgb(227, 115, 118);
  background-color: rgb(215, 55, 59);
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px 0 rgba(0, 1, 1, 0.1);
}
.button:hover,
.button:focus {
  background-color: rgb(231, 66, 70);
}
